{% load static %}


<div class="admin-tabs" data-admin-tabs>
  <div class="admin-tabs__inner">
    <a href="{% url 'go_admin' %}"
       class="admin-tab {% if request.resolver_match.url_name == 'go_admin' %}is-active{% endif %}"
       data-tab="users"
       aria-current="{% if request.resolver_match.url_name == 'go_admin' %}page{% endif %}">
      <i class="fa-solid fa-users"></i>
      <span>Users</span>
    </a>

    <a href="{% url 'go_admin_stats' %}?category={{ category_code|default:1 }}"
      class="admin-tab {% if request.resolver_match.url_name == 'go_admin_stats' %}is-active{% endif %}">
      <i class="fa-solid fa-chart-column"></i>
      <span>Categories Stats</span>
    </a>
    <a href="{% url 'go_admin_global_ranking' %}"
      class="admin-tab {% if request.resolver_match.url_name == 'go_admin_global_ranking' %}is-active{% endif %}"
      data-tab="global">
      <i class="fa-solid fa-ranking-star"></i>
      <span>Global Games Stats</span>
    </a>
    <span class="admin-tab-indicator" aria-hidden="true"></span>
  </div>
</div>
