{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">


    <head>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}World Wide Website VideoGames Rankings{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
    {% bootstrap_css %}

    {% block extra_css %}{% endblock %}
    </head>
    <body class="{% block body_class %}   {% endblock %}">

        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
       

        {% block extra_js %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.umd.min.js"></script>

    </body>
 
</html>