{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">


    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Website World Wide VideoGames{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
            {% block extra_css %}{% endblock %}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
    </head>
    <body>


    {% block body %}{% endblock %}

    {% block extra_js %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.es.min.js"></script>

    </body>
</html>